<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Login/Signup/ChangePassword</title>
  <!--https://fonts.google.com/specimen/Roboto-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/img/logo.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/home"><img id="logo" src="/assets/img/logo.png" alt="logo"/></a>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
    <header id="header"></header>
  </nav>
  
  <section id="content"></section>

  <img id="notFoundHeart" src="/assets/img/logo.png" alt="logo"/>


  <div id="songMessage" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
