<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Login/Signup/ChangePassword</title>
  <!--https://fonts.google.com/specimen/Roboto-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/img/logo.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/home"><img id="logo" src="/assets/img/logo.png" alt="logo"/></a>
    <header id="header"></header>
  </nav>
  
  <section id="notFoundContent">
    <h1 id="notFound">Page Not Found!</h1>
    <div id="returnHomeDiv" class="navlink"><a id="returnHome" href="/">Return To Homepage</a></div>
    <img id="notFoundHeart" src='/assets/img/logo.png' alt='logo'/>
  </section>

  <script src="/assets/notFoundBundle.js"></script>
</body>
</html>
